body {
  background: #ffffff;
}
.container.priced {
  margin-top: 20px;
  margin-bottom: 40px;
}
.container.priced table {
  width: 100%;
}
.container.priced table .title td {
  background: #f9f9f9;
  font-size: 16px;
}
.container.priced table .s-title {
  background: #fef8f4;
  color: #ff7700;
  font-size: 18px;
  padding: 15px 0;
}
.container.priced table tr a {
  display: block;
  color: #ff7700;
  text-decoration: none;
}
.container.priced table tr td {
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 10px 0;
  cursor: default;
}
.container.priced table tr td input {
  border: 1px solid #c5c5c5;
  border-radius: 3px 0px 0px 3px;
  width: 100px;
  text-align: center;
  border-right:none;
}
.container.priced table tr td button {
  padding: 5px 20px;
  background: #fff;
  border: 1px solid #ff7700;
  border-radius: 20px;
  color: #ff7700;
}
.container.priced table tr td button:hover {
  background: #ff7700;
  color: #ffffff;
}
.container.priced table tr td .fa.fa-check-circle-o {
  color: #26cc8d;
  font-size: 22px;
}
.container.priced table tr td .fa.fa-exclamation-circle {
  font-size: 16px;
  padding-left: 10px;
}
.container.priced table tr td:nth-child(1) {
  width: 15%;
}
.info {
  background: #f9f9f9;
  overflow: hidden;
  position:relative;
}
.info .container h3 {
  text-align: center;
  padding: 40px 0;
}
.info .container ul li {
  list-style: none;
  padding: 8px 0;
  text-align: center;
}
.info .container ul li span {
  width: 57px;
  margin-right: 12px;
  display: inline-block;
  text-align: right;
}
.info .container ul li input {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 5px;
  width: 50%;
}
.info .container button {
  padding: 5px 35px;
  background: #fff;
  border: 1px solid #ff7700;
  border-radius: 20px;
  color: #ff7700;
  text-align: center;
}
.info .container button:hover {
  background: #ff7700;
  color: #ffffff;
}
.info .contant-sales-hide{
  position:relative;
  overflow: hidden;
  height:100px;
  text-align: center;
}
.info .contant-sales-hide button{
  padding: 5px 20px;
  background: #ff7700;
  border: 1px solid #ff7700;
  border-radius: 20px;
  color: #ffffff;
  margin-top:33px;
  font-weight:normal;
}
.info .userMessage{
  width:400px;
  height:60px;
  background:rgba(255,255,255,1);
  border:1px solid #D5D5D5;
  border-radius:6px;
  font-family:"PingFang SC",Helvetica,Arial,sans-serif;
  font-weight:normal;
  color: #000000;
  text-align:center;
  line-height:60px;
  font-size:16px;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  display:none;
}
.iconfont{
  color:#2ccf90;
  font-weight:lighter;
}
.userNumber{
  display:inline-block;
  float:left;
  height:24px;
}
.userAdd{
  display:inline-block;
  height:24px;
  width:22px;
  border:1px solid #c5c5c5;
  float:left;
  position:relative;
  border-radius:0px 3px 3px 0px;
  background:rgba(249,249,249,1);
}
.numberAdd{
  height:12px;
  display:block;
  position:absolute;
  top:0;
  left:4px;
  -moz-user-select: none;
  -khtml-user-select: none; 
  user-select: none;
}
.numberCut{
  height:12px;
  display:block;
  position:absolute;
  bottom:0;
  left:4px;
  -moz-user-select: none;
  -khtml-user-select: none; 
  user-select: none;
}
.tdBall{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width:122px;
  height:24px;
}
.userBan2{
  background:rgba(0,0,0,0.2);
}
#tableFixed{
  margin:0 auto;
  opacity:0;
  z-index:999;
}
.iBg{
  color:#000;
}
.iBg2{
  color:red;
}
.numberAdd:hover i{
  font-weight:bold;
}
.numberCut:hover i{
  font-weight:bold;
}
.boxShow:after {
  content: "";
  display: block;
  width: 100%;
  box-shadow:0px 0.2px 0.8px 2.2px rgba(0, 0, 0,.06);
  margin-bottom:10px;
}
